<%= form_for ([@project, @sub_project, @custom_menu]), :html => { :class => "form-horizontal custom_menu" } do |f| %>

  <% if @custom_menu.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@custom_menu.errors.count, "error") %> prohibited this custom_menu from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @custom_menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="form-group">

  <div class="form-group">
    <%= f.label :menu_name, :class => 'ontrol-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :menu_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:menu_name) %>
  </div>

  <div class="form-group">
    <%= f.label :sub_menu_name, :class => 'ontrol-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :sub_menu_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sub_menu_name) %>
  </div>

  <div class="form-group">
    <%= f.label "File Type", :class => 'ontrol-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :attachment_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:attachment_type) %>
  </div>

  <div class="form-group">
    <%= f.fields_for :attachments do |task| %>
        <%= render "attachment_fields", f: task %>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_sub_project_custom_menus_path(@project, @sub_project), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
